body {
    background-color: #FFC7E4;
    font-family: "Funnel Sans", sans-serif;
    margin: 0;
}

.content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.opening-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opening-modal {
    background-color: #fedcee;
    box-shadow: 0 0 20px -10px grey;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 95%;
    max-width: 500px;
}

.opening-modal h1 {
    color: black;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.opening-modal h3 {
    color: black;
}

.opening-modal-image {
    width: 100%;
    margin: 0 auto;
}

.love-button {
    background-color: #ff78be;
    color: white;
    border: 2px solid #fc68b4;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 700;
}

.love-button:hover, .love-button:active, .love-button:focus {
    border-radius: 15px;
    transform: translate(0, 2px);
    box-shadow: 0 0 10px -5px #fc68b4;
}
